<div class="card bg-base-100 w-1/2 mx-auto flex flex-col p-6 rounded-lg shadow-lg">
    <div class="card-title justify-center text-3xl text-primary">
        Sign Up
    </div>

    <div class="card-body w-full">


        <form #registerForm="ngForm" (ngSubmit)="resister()" class="flex flex-col gap-4 w-full">

            <input type="email" placeholder="Email" class="input w-full" name="Email" [(ngModel)]="creds.email"
                required />

            <input type="text" placeholder="Display Name" class="input w-full" name="displayName"
                [(ngModel)]="creds.displayName" />

            <input type="password" placeholder="Password" class="input w-full" name="password"
                [(ngModel)]="creds.password" required />

                <!-- Demo for input property binding to get data from parent component
            <select class="select w-full">
                <option disabled selected>Pick member</option>
                @for (member of membersFromHome(); track $index) {
                    <option value="{{member.id}}">{{member.displayName}}</option>
                }
                    
            </select> -->

            <div class="flex items-center justify-end gap-3">
                <button (click)="cancel()" type="button" class="btn btn-secondary">
                    Cancel
                </button>

                <button type="submit" class="btn btn-primary">
                    Register
                </button>
            </div>
        </form>

    </div>


</div>